<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="bottom-padding non-transparent-background">
        <div class="header-image"></div>
        <section class="overlap-top">
            <h2>Forgot Password</h2>
            <p>Enter the email that is linked to your account</p>
            <form action="/forgot-password" method="post">
                <div class="input-container">
                    <input type="text" name="email" id="email">
                    <label for="email">Email</label>
                </div>
                <input type="submit" value="Login">
                <p class="prompt">Remember your password? <a href="/login">Login now</a>.</p>
            </form>
            <!-- Add external logins? -->
        </section>
    </main>

<%- include('../includes/end.ejs') %>