@use 'variables' as *;

.mission-statement {
    width: 100%;
    padding: 5px 0 30px;
    background-image: url("/images/site-images/mission-photo.jpg");
    @include box-shadow;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    // margin-top: 10px;

    .inside {
        width: 50%;
        margin: 0 auto;
        min-width: 300px;
        text-align: center;
        color: $other-color;

        h2, p {
            text-shadow: 0 0 3px $other-color;
        }
        h2 {
            font-size: 2rem;
            color: $other-color;
        }
    }
}


.offered {
    display: flex;
    grid-gap: 20px 10px;
    align-items: center;
    grid-auto-rows: 100px;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        text-align: center;
    }
    .course, .tutorial, .reference {
        height: 100px;
        overflow: hidden;
        border-radius: 5px;
        align-items: center;
        background-color: #F1F1F1;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100px auto;
        @include box-shadow();
        position: relative;
        display: grid;
        width: 260px;

        a {
            text-decoration: none;

            & > h3 {
                padding-left: 10px;
                grid-column: 2;
                grid-row: 1;
                margin: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .img-holder {
            height: 100%;
            grid-column: 1;
            grid-row: 1 / span 2;
            transition: all 0.3s;
            transform: translate(-2px, 1px) scale(1.1) rotate(-5deg);
            box-shadow: 1px 1px 5px $primary-color;
            
            div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.java {
                background-image: linear-gradient(#E76F00,#8C4201);
            }
            &.java div {
                background-size: 70%;
            }
            &.pjs div {
                background-size: 115%;
            }
        }
        &:hover .img-holder {
            transform: translate(-8px, 1px) scale(1.3) rotate(-8deg);
        }
        .img-holder.two {
            background-image: linear-gradient(#E34E24 50%,#1173BC 50%);
            div {
                width: 100%;
                height: 50%;
                background-position: center;
                background-size: 75%;
            }
        }
        &:not(.reference)::after {
            font-size: 11px;
            position: absolute;
            background-color: $accent1-color;
            transform: translate(-50%) rotate(-45deg) translate(0, -30px);
            transform-origin: center -50px;
            border-radius: 0 0 50% 50%;
            @include box-shadow();
            padding: 3px 20px;
            top: 50%; left: 0;
        }
    }
    .course::after {
        content: 'COURSE';
    }
    .tutorial::after {
        content: 'TUTORIAL';
    }
    
    .tags {
        justify-self: end;
        grid-column: 2;
        grid-row: 2;
    }
    .tags .tag {
        display: inline-block;
        margin-right: 5px;
        &:not(div) { cursor: pointer; }
        &:is(div) { cursor: default; }
        &:hover { color: $other-color; }
    }
}
.noneT {
    color: $primary-color;
}
.htmlT, .cssT {    
    font-family: $heading-font;
}
.htmlT {
    color: #E34E24;
}
.cssT {
    color: #1173BC;
}
.cppT {
    color: #0080CD;
}
.jsT {
    color: #67A969;
}
.pjsT {
    color: #012542;
}
.javaT {
    color: #E76F00;
}
.pythonT {
    color: #4A98C8;
}
.rubyT {
    color: #F05336;
}
.jqT {
    color: #3558A8;
}
.phpT {
    color: #007AFF;
}


a.tag, div.tag {
    background-color: rgba(255,255,255,0);
    border: solid 2px $accent1-color;
    font-family: $heading-font;
    color: $accent1-color;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 4px;
}
a.tag:hover, div.tag:hover {
    background-color: $accent1-color;
    color: $other-color;
    text-decoration: none;
}
.tag.html {
    color: #E34E24;
    border: solid 2px #E34E24;
}
.tag.css {
    color: #1173BC;
    border: solid 2px #1173BC;
}
.tag.cpp {
    color: #0080CD;
    border: solid 2px #0080CD;
}
.tag.javascript {
    color: #67A969;
    border: solid 2px #67A969;
}
.tag.pjs {
    color: #012542;
    border: solid 2px #012542;
}
.tag.java {
    color: #E76F00;
    border: solid 2px #E76F00;
}
.tag.python {
    color: #4A98C8;
    border: solid 2px #4A98C8;
}
.tag.ruby, .tag.jquery, .tag.php {
    background-color: $accent1-color;
    color: $other-color;
}
.tag.html:hover {
    background-color: #E34E24;
}
.tag.css:hover {
    background-color: #1173BC;
}
.tag.cpp:hover {
    background-color: #0080CD;
}
.tag.javascript:hover {
    background-color: #67A969;
}
.tag.pjs:hover {
    background-color: #012542;
}
.tag.java:hover {
    background-color: #E76F00;
}
.tag.python:hover {
    background-color: #4A98C8;
}

.img-holder > div {
    &.html {
        background-image: url('/images/site-images/card-images/html.png');
    }
    &.css {
        background-image: url('/images/site-images/card-images/css.png');
    }
}


.great-idea {
    width: 50%;
    min-width: 250px;
    border-radius: 10px;
    margin: 50px auto 0;
    padding: 0.7rem 1rem 1.3rem;
    border: solid 1px $accent2-color;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 2px 2px 10px $primary-color;

    h2 {
        text-align: center;
        color: $accent2-color;
    }
    p {
        font-size: 0.9rem;
        text-align: center;
    }
}


.code-playground {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 3rem;
    align-items: center;
    h2, h3 {
        margin: 0;
    }
    
    .project-title {
        width: max-content;
        margin-left: 1.5rem;
        grid-template-columns: auto max-content;
        align-items: center;
        column-gap: 0.5rem;
        display: grid;

        span {
            width: 100%;
            border: none;
            outline: none;
            font-size: 1.8rem;
            background: none;
            font-family: $heading-font;
            border-bottom: 2px solid transparent;
            margin-bottom: 0.25rem;
            padding: 0 0.5rem;

            &:focus {
                border-bottom: 2px solid $accent2-color;
            }
        }
        button {
            font-weight: bold;
            color: $primary-color;
            background: none;
            cursor: pointer;
            border: none;
        }
    }
    .layout-options {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        padding: 10px 0 1rem;
        
        button {
            row-gap: 3px;
            column-gap: 3px;
            background: none;
            display: grid;
            border: none;
            height: 40px;
            width: 40px;
            padding: 0.5rem;
            border-radius: 5px;
    
            div {
                background-color: $primary-color;
                border-radius: 2px;
                height: 100%;
                width: 100%;
            }
    
            &.stacked {
                grid-template-rows: 1fr 1fr;
                div { height: 10px; }
            }
            &.side-by-side {
                grid-template-columns: 1fr 1fr;
                div { width: 10px; }
            }
            &:hover {
                background-color: rgba(255,255,255,0.7) !important;
                div {
                    background-color: darken($primary-color, 20);
                }
                cursor: pointer;
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
    .ace-editor {
        width: 100%;
        margin: 0;

        .ace_print-margin {
            display: none;
        }
    }

    .live-demo {
        width: 100%;
        height: 400px;
        border: solid 1px $primary-color;
        border-bottom: none;
        background-color: $other-color;

        iframe {
            border: none;
            height: 100%;
            width: 100%;
            background-color: lighten($primary-color, 50);
        }
    }

    .playground-footer {
        background-color: lighten($primary-color, 20);
        grid-column: 1 / -1;
        width: 100%;
        display: grid;
        grid-template-columns: auto 200px;
        padding: 0.5rem;
        border: solid 1px $primary-color;

        .action-buttons {
            grid-column: 2;
            justify-self: end;
            display: flex;
            column-gap: 0.5rem;

            * {
                margin: 0;
                display: flex;
                column-gap: 0.25rem;
                align-items: center;
            }
        }
    }

    &.side-by-side {
        .ace-editor {
            grid-column: 1;
        }
        .live-demo {
            grid-column: 2;
        }
        @media screen and (min-width: 951px) {
            .layout-options button.side-by-side {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    &.stacked {
        .ace-editor, .live-demo {
            grid-column: 1 / -1;
        }
        .layout-options button.stacked {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    @media screen and (max-width: 950px) {
        .ace-editor, .live-demo {
            grid-column: 1 / -1 !important;
        }
        .layout-options button.stacked {
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 1.5rem auto;
        width: 95%;
    }

    .project-info {
        column-gap: 2rem;
        grid-column: 1 / -1;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        display: grid;

        .user-info {
            display: grid;
            align-items: end;
            box-sizing: content-box;
            background-color: $other-color;
            grid-template-columns: 64px 200px;
            grid-template-rows: 1fr 1fr;
            @include box-shadow;
            border-radius: 10px;
            justify-self: end;
            column-gap: 1rem;
            padding: 1rem;
            width: 264px;

            .profile-pic {
                border-radius: 50%;
                grid-row: 1 / -1;
                height: 64px;
                width: 64px;
                border: 3px solid $secondary-color;
            }
            .user-name {
                width: 100%;
                grid-column: 2;
                @include ellipses;
                display: block;
                grid-row: 1;
                margin: 0;
            }
            .view-profile {
                font-size: small;
                font-weight: bold;
                color: $primary-color;
                text-decoration: none;
                align-self: start;
                grid-column: 2;
                grid-row: 2;
            }
        }
        .project-details {
            display: grid;
            align-items: center;
            justify-self: start;
            box-sizing: content-box;
            background-color: $other-color;
            grid-template-columns: max-content max-content;
            @include box-shadow();
            grid-auto-rows: 1fr;
            border-radius: 10px;
            column-gap: 1rem;
            padding: 1rem;
            width: 264px;
        }
    }
}


.language-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    a {
        display: block;
        width: max-content;
        text-align: center;
        text-decoration: none;
        background-color: rgba($primary-color, 0.5);
        border-radius: 5px;
        min-width: 75px;
        padding: 1rem;
        color: $other-color;

        &:hover {
            background-color: rgba($primary-color, 0.8);
        }
    }
}

button.withSymbol {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;
}

.padded-container {
    padding: 1rem;
    h2 { text-align: left !important; }
}

.course-article-link {
    display: flex;
    padding: 0.5rem;
    color: $primary-color;
    border: 1px solid $primary-color;
    text-decoration: none;
    align-items: center;
    height: 36px;

    &.at {
        box-shadow: inset 0 0 2px 1px $accent1-color;
    }
    &:hover span:not(.material-symbols-outlined) {
        text-decoration: underline;
    }
    &:first-of-type {
        margin-top: 0.5rem;
        border-radius: 10px 10px 0 0;
    }
    &:last-of-type {
        border-radius: 0 0 10px 10px;
    }
}

.course-article-container, .tutorial-container, .course-reference {
    padding-bottom: 0;
    section {
        margin-left: 1.5rem;
        padding-right: 1rem;
        pre {
            margin: 1rem 0;
        }
    }
    li {
        margin: 0.5rem 0;
    }
    .article-nav {
        padding: 2rem 1.5rem;
        grid-template-columns: 1fr 1fr;
        padding-top: 0;
        display: grid;
        
        a {
            display: flex;
            align-items: center;
            border-radius: 10px;
            background-color: $accent2-color;
            border: 1px solid $accent2-color;
            box-shadow: inset 0 0 1px 2px $other-color;
            text-decoration: none;
            color: $other-color;
            width: max-content;
            padding: 0.75rem;

            &.disabled {
                opacity: 0.7;
                cursor: not-allowed;
            }
            &:nth-of-type(1) {
                padding-right: 1.25rem;
            }
            &:nth-of-type(2) {
                justify-self: end;
                padding-left: 1.25rem;
            }
        }
    }
    .semantic-tags-list, .units-list {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: start;
        gap: 0.5rem 0.75rem;
        h5 {
            grid-column: 1 / -1;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
        li {
            display: contents;

            code {
                width: max-content;
                white-space: nowrap;
            }
            span {
                line-height: 1.35em;
            }
        }
    }
    #element-relationship-diagram {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 5);
        justify-items: center;
        align-items: center;
        min-width: 300px;
        max-width: 400px;
        row-gap: 2rem;

        .element {
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: $card-color;
            padding: 0.5rem 0 0.35rem;
            @include box-shadow();
            align-items: center;
            border-radius: 5px;
            grid-column: 1;
            width: 100px;

            code {
                width: max-content;
                background-color: transparent;
                font-size: 1.2em;
            }
        }
        #s {
            grid-column: 2;
            grid-row: 3;
        }
        #gp, #p {
            grid-column: 1 / span 2;
        }
        #gp, #e, #c {
            &::after {
                content: '';
                bottom: -2rem;
                background-color: $primary-color;
                position: absolute;
                height: 2rem;
                width: 2px;
                left: calc(50% - 1px);
            }
        }
        #p::before {
            content: '';
            bottom: -1px;
            background-color: $primary-color;
            position: absolute;
            height: 7rem;
            width: 2px;
            left: calc(50% - 1px);
            transform: rotate(252deg);
            transform-origin: center bottom;
        }
        #p::after {
            content: '';
            bottom: -1px;
            background-color: $primary-color;
            position: absolute;
            height: 7rem;
            width: 2px;
            left: calc(50% - 1px);
            transform: rotate(108deg);
            transform-origin: center bottom;
        }
    }
}

aside {
    width: 100%;
    position: fixed;
    overflow-y: auto;
    @include box-shadow();
    background-color: $other-color;
    height: calc(100vh - 60px);
    transition: left 0.4s;
    max-width: 300px;
    padding: 1rem;
    left: -310px;
    top: 60px;
    .aside-toggle {
        padding: .5rem;
        cursor: pointer;
        @include box-shadow();
        background-color: $other-color;
        border-radius: 0 10px 10px 0;
        padding-left: calc(10px + 0.5rem);
        transition: left 0.4s,
                    padding 0.4s;
        color: $accent2-color;
        position: fixed;
        display: block;
        left: -10px;
    }
    &.open {
        left: 0;

        .aside-toggle {
            padding-left: 0.5rem;
            border-radius: 10px;
            box-shadow: none;
            left: 240px;
        }
    }
}
.course-reference {
    h2, h3 {
        grid-column: 1 / -1;
    }
    .publishDate {
        grid-column: 1 / -1;
    }
    code {
        grid-column: 1;
        font-size: 0.9rem;

        & + span + code, & + span + code + span {
            margin-top: 1rem;
        }
        justify-self: end;
    }
    span {
        grid-column: 2;
    }
    display: grid;
    column-gap: 0.5rem;
    justify-items: start;
    grid-template-columns: max-content auto;
}