@use 'variables' as *;

$ci-dim: 80px;

.credits-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: space-around;

    h1 {
        width: 100%;
        padding-bottom: 0.5rem;
    }
    h2 {
        margin-top: 0;
        width: 100%;
    }
    .credit {
        display: grid;
        align-items: center;
        grid-template-columns: $ci-dim auto;
        background-color: $other-color;
        @include box-shadow;
        border-radius: 10px;
        overflow: hidden;
        height: $ci-dim;
        width: 270px;

        & > a {
            width: $ci-dim;
            height: $ci-dim;
        }
        img {
            width: $ci-dim;
            height: $ci-dim;
            object-fit: cover;
            object-position: center;
        }
        span {
            @include ellipses;
            font-size: 1.2rem;
            padding: 0 1rem;
            width: 100%;
        }
    }
    .small-credit {
        display: flex;
        @include box-shadow;
        justify-content: center;
        background-color: $other-color;
        text-decoration: none;
        padding: 1rem 1.75rem;
        border-radius: 10px;
        align-items: center;
        width: max-content;
        column-gap: 0.25rem;
        color: $accent2-color;

        span {
            font-size: 1.2rem;
        }
        img {
            height: 15px;
            width: 15px;
        }
    }
}

.privacy-policy {
    padding: 1.5rem;
}
