<div class="code-playground side-by-side">
    <h2 class="project-title">New Project</h2>
    <div class="layout-options">
        <h3>Layout:</h3>
        <button class="side-by-side">
            <div></div>
            <div></div>
        </button>
        <button class="stacked">
            <div></div>
            <div></div>
        </button>
    </div>
    <div class="ace-editor" data-language="<%= programmingLanguage %>"><%= projectCode %></div>
    <div class="live-demo">
        <iframe src="" sandbox=""></iframe>
    </div>
    <div class="playground-footer">
        <div class="action-buttons">
            <button class="run btn">Run</button>
            <button class="save btn">Save</button>
        </div>
    </div>
    <%- include('./csrf-token.ejs') %>
</div>