<footer>
    <div class="footer-section">
        <div class="footer-section-left">
            <div class="footer-copyright">©2022 Genius Coding</div>
            <a class="footer-link" href="/legal/privacy-policy">Privacy Policy</a>
        </div>
        <div class="footer-section-right">
            <a class="footer-social-link" title="Follow us on GitHub" href="https://github.com/GeniusCoding">
                <img class="footer-social-link-image" src="/images/site-images/github.png" alt="github logo">
            </a>
            <!-- <a class="footer-social-link" title="Subscribe to us on Youtube" href="https://youtube.com">
                <img class="footer-social-link-image" src="/images/youtube.png" alt="youtube logo">
            </a> -->
            <a class="footer-social-link" title="Visit us on blogger" href="https://genius-coding.blogspot.com/">
                <img class="footer-social-link-image" src="/images/site-images/blogger.png" alt="blogger logo">
            </a>
        </div>
    </div>
</footer>

<script src="/js/main.js"></script>
</body>
</html>