<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <pre>let test = "this is a test";</pre>
    </main>

<%- include('../includes/end.ejs') %>
