<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="mission-statement">
            <div class="inside">
                <h2>Our Mission</h2>
                <p>The mission of Genius Coding is to provide coding (and someday computer) education simply to allow everyone the opportunity and the ability to learn coding for free from anywhere.</p>
            </div>
        </div>

        <div class="offered">
            <h2>Learn Here on Genius Coding</h2>
            <div class="course">
                <div class="img-holder two">
                    <div class="html"></div>
                    <div class="css"></div>
                </div>
                <a class="course-title-link" href="/course/62d06b7ce0bcc73738ea3146">
                    <h3 class="noneT"><span class="htmlT">HTML</span> &amp; <span class="cssT">CSS</span></h3>
                </a>
                <div class="tags">
                    <div class="tag html">HTML</div>
                    <div class="tag css">CSS</div>
                </div>
            </div>
            <div class="tutorial">
                <div class="img-holder two">
                    <div class="html"></div>
                    <div class="css"></div>
                </div>
                <a class="course-title-link" href="/tutorial/62d72caf980b65242636a913">
                    <h3 class="noneT">Helpful Menu</h3>
                </a>
                <div class="tags">
                    <div class="tag html">HTML</div>
                    <div class="tag css">CSS</div>
                </div>
            </div>
            <div class="reference">
                <div class="img-holder html">
                    <div class="html"></div>
                </div>
                <a class="course-title-link" href="/reference/html">
                    <h3 class="noneT">Quick Reference</h3>
                </a>
                <div class="tags">
                    <div class="tag html">HTML</div>
                </div>
            </div>
        </div>

        <div class="great-idea">
            <h2>Got a Great Idea?</h2>
            <p>If you have a great idea for a tutorial or a new course, please send us your suggestion <a href="https://forms.gle/cx92StLYUyhDm8NH7" target="_blank">here</a>.</p>
        </div>
    </main>

<%- include('../includes/end.ejs') %>
