<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="hero-image">
            <section class="call-to-action">
                <h3>Looking to learn codding?</h3>
                <p>Start Here, Start Now</p>
                <a href="/signup" class="btn">Create an account</a>
            </section>
        </div>
        <section class="intro">
            <h2>What is Genius Coding?</h2>
            <p>
                Genius Coding is a group of people who create fun and/or helpful tutorials and
                coding courses in a variety of coding languages. We also develope software
                that is helpful, efficient, clean, and user-friendly.
            </p>
            <img src="/images/site-images/genius-coding.jpg" alt="Genius Coding intro image">
        </section>
    </main>

<%- include('includes/end.ejs') %>
