<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <article>
            <h1>Privacy Policy</h1>
            <section>

            </section>

        </article>
    </main>

<%- include('../includes/end.ejs') %>
